#el {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #DDD;
    cursor: crosshair;
}

#res {
    position:absolute;
    top:10px;
    left:10px;
    width:270px;
    display:none;
    padding:20px;
    background:#FFF;
    border:1px solid #BBB;
    cursor:default;
}

h3 {
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}

#res div {
    margin-bottom:5px;
    padding-bottom:5px;
    border-bottom:1px dashed #EEE;
}

#res b {
    display:inline-block;
    width:120px;
}

#res span {
    display:inline-block;
    width:60px;
}

#res span:first-child {
    width:70px;
}

#res span:last-child {
    width:140px;
}