/*----------------------/
/// Reset ///////////////
/----------------------*/

* {
  margin: 0;
  padding: 0;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Tracker Controls */
#tracker-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height:30px;
  background:#555;
  z-index:999;
}

#tracker-status {
  float:left;
  width:31px;
  height:30px;
  border-right:1px solid rgba(0,0,0,0.8);
}

#tracker-status-light {
  width:10px;
  height:10px;
  border-radius:50%;
  margin:10px;
  background:red;
}

#tracker-status-light.tracking {
  background:green;
}

#tracker-title {
  float:left;
  width:calc(100% - 461px);
  border-left:1px solid rgba(255,255,255,0.25);
  border-right:1px solid rgba(0,0,0,0.8);
  color:#FFF;
  height:30px;
  line-height:30px;
  padding-left:5px;
}

#tracker-uuid {
  float:left;
  height:30px;
  width:250px;
  border-left:1px solid rgba(255,255,255,0.25);
  border-right:1px solid rgba(0,0,0,0.8);
  padding:5px;
}

#uuid {
  display:block;
  background:#FFF;
  border:none;
  height:20px;
  line-height:20px;
  padding:0 5px;
  font-size:13px;
  width:100%;
}

#tracker-controls {
  float:left;
  height:30px;
  width:180px;
}

#tracker-controls button {
  float:left;
  display:block;
  border:none;
  background:#555;
  color:#FFF;
  height:30px;
  line-height:30px;
  width:60px;
  text-align:center;
  border-left:1px solid rgba(255,255,255,0.25);
  border-right:1px solid rgba(0,0,0,0.8);
  cursor:pointer;
  font-size:13px;
}

#tracker-controls button:hover {
  background:#666;
}

#tracker-reset {

}

#tracker-view {

}

#tracker-send {

}

/* Demo CSS */
#el {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #DDD;
    cursor: crosshair;
}

#res {
    position:absolute;
    top:10px;
    left:10px;
    bottom:10px;
    width:200px;
    display:none;
    padding:20px;
    background:#FFF;
    border:1px solid #BBB;
    cursor:default;
    resize:none;
}

h3 {
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}

#res div {
    margin-bottom:5px;
    padding-bottom:5px;
    border-bottom:1px dashed #EEE;
}

#res b {
    display:inline-block;
    width:120px;
}

#res span {
    display:inline-block;
    width:60px;
}

#res span:first-child {
    width:70px;
}

#res span:last-child {
    width:140px;
}