/* ----------------------------
Author: Anders Haig = minim.co
Version: 1.4
---------------------------- */

/*----------------------/
/// Reset ///////////////
/----------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*----------------------/
/// Global //////////////
/----------------------*/

html {
  background: #D1D8DB;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  font-size: 14px;
  line-height: 1.35;
  font-family: 'Helvetica Neue', Helvetica, 'Arial Rounded MT Bold', Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* IE */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #333;
  margin: 2px 0 6px;
  font-family: inherit;
  line-height: 1;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 40px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
}

p {

}

a {
  color: inherit;
}

/*----------------------/
/// Grid ////////////////
/----------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.clearfix {
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

/*----------------------/
/// CUSTOM //////////////
/----------------------*/

.drag-area {
  width:15%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
}

.drag-item {
  position:absolute;
  left:50%;
  top:50%;
  width:50px;
  height:50px;
  margin-top:-25px;
  margin-left:-25px;
  border-radius:50%;
  cursor:move;
  background: #FEFEFE;
  background: -moz-linear-gradient(top, #FEFEFE 0%, #F7F8F9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#F7F8F9));
  background: -webkit-linear-gradient(top, #FEFEFE 0%,#F7F8F9 100%);
  background: -o-linear-gradient(top, #FEFEFE 0%,#F7F8F9 100%);
  background: -ms-linear-gradient(top, #FEFEFE 0%,#F7F8F9 100%);
  background: linear-gradient(top, #FEFEFE 0%,#F7F8F9 100%);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4), 
                inset 0 -3px 1px 0 rgba(0, 0, 0, 0.07);
     -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4), 
                inset 0 -3px 1px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4), 
                inset 0 -3px 1px 0 rgba(0, 0, 0, 0.07);
}

.drag-item:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35), 
                inset 0 -3px 1px 0 rgba(0, 0, 0, 0.07);
     -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35), 
                inset 0 -3px 1px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35), 
                inset 0 -3px 1px 0 rgba(0, 0, 0, 0.07);
}

.drag-item-icon {
  width:50px;
  height:50px;
  background:url(drag.png) center center no-repeat;
}

.drop-area-left {
  width:120px;
  height:100%;
  position:absolute;
  right:175px;
  top:0;
  bottom:0;
}

.drop-area-right {
  width:120px;
  height:100%;
  position:absolute;
  right:50px;
  top:0;
  bottom:0;
}

.single-drop {
  position:absolute;
  left:50%;
  width:100px;
  height:100px;
  margin-top:-50px;
  margin-left:-50px;
  border-radius:50%;
  text-align:center;
  line-height:100px;
  font-size:48px;
  font-weight:bold;
  color:rgba(255,255,255,0.8);
  cursor:pointer;
  background: rgba(0,0,0,0.15);
  text-shadow: 0 5px 5px rgba(0,0,0,0.1),
               5px 10px 5px rgba(0,0,0,0.05),
               -5px 10px 5px rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 3px 3px 15px 2px rgba(0, 0, 0, 0.2), 
                      1px 1px 1px 0 rgba(255, 255, 255, 0.4), 
                      inset 0 0 1px 0 rgba(0,0,0,0.35);
     -moz-box-shadow: inset 3px 3px 15px 2px rgba(0, 0, 0, 0.2), 
                      1px 1px 1px 0 rgba(255, 255, 255, 0.4), 
                      inset 0 0 1px 0 rgba(0,0,0,0.35);
          box-shadow: inset 3px 3px 15px 2px rgba(0, 0, 0, 0.2), 
                      1px 1px 1px 0 rgba(255, 255, 255, 0.4), 
                      inset 0 0 1px 0 rgba(0,0,0,0.35);
}

.single-drop:hover {
  border:1px solid #F89627;
  background: rgba(0,0,0,0.35);
  -webkit-box-shadow: inset 3px 3px 15px 2px rgba(0, 0, 0, 0.2), 
                      1px 1px 1px 0 rgba(255, 255, 255, 0.35), 
                      inset 0 0 1px 0 rgba(0,0,0,0.35),
                      0 0 0 5px #FAB669,
                      0 0 10px 0 rgba(0,0,0,0.35);
     -moz-box-shadow: inset 3px 3px 15px 2px rgba(0, 0, 0, 0.2), 
                      1px 1px 1px 0 rgba(255, 255, 255, 0.35), 
                      inset 0 0 1px 0 rgba(0,0,0,0.35),
                      0 0 0 5px #FAB669,
                      0 0 10px 0 rgba(0,0,0,0.35);
          box-shadow: inset 3px 3px 15px 2px rgba(0, 0, 0, 0.2), 
                      1px 1px 1px 0 rgba(255, 255, 255, 0.35), 
                      inset 0 0 1px 0 rgba(0,0,0,0.35),
                      0 0 0 5px #FAB669,
                      0 0 10px 0 rgba(0,0,0,0.35);
}

.single-drop:nth-child(1) {
  top:16.6666%;
}

.single-drop:nth-child(2) {
  top:33.3333%;
}

.single-drop:nth-child(3) {
  top:50%;
}

.single-drop:nth-child(4) {
  top:66.6666%;
}

.single-drop:nth-child(5) {
  top:83.3333%;
}






